<ActionBar title="" color="#f5f5f5" backgroundColor="#455775" flat="true" visibility="collapsed"></ActionBar>

<GridLayout>
    <GridLayout #menuContainer backgroundColor="#455775" rows="*, *, *, *">
        <Image row=0 src="~/images/logo.png" class="menu-item"></Image>
        <Label row=1 text="Active sessions" class="menu-item" color='#3AEFBA' (tap)="navigateToSessions()"></Label>
        <Label row=2 text="Profile" class="menu-item" color='#72DEFF' (tap)="navigateToProfile()"></Label>
        <Label row=4 text="LOG OUT" class="menu-item" color='red' (tap)="logOut()"></Label>
    </GridLayout>
</GridLayout>
