<ActionBar title="" color="#f5f5f5" backgroundColor="#455775" flat="true" visibility="collapsed"></ActionBar>

<StackLayout backgroundColor="#455775">
    <ScrollView>
        <StackLayout>
            <StackLayout>
                <Image class="imageCss" src="~/images/Profile.png" *ngIf="isSingleMode" stretch="aspectFit"></Image>
                <GridLayout columns="*, *" padding="0 10 10 10" rows="*,*,*,*">
                    <StackLayout class="columnName" padding="0 5" [col]="0"[row]="0">
                        <TextField height="50" width="100%"  borderRadius="5"  text="Username" [isEnabled]="false"></TextField>
                    </StackLayout>
                    <StackLayout class="columnName" padding="0 5" [col]="1"[row]="0">
                        <TextField #username height="50" width="100%"  borderRadius="5"  text="KevinBoy" [isEnabled]="false" ></TextField>
                    </StackLayout>
                    <StackLayout class="columnName" padding="0 5" [col]="0"[row]="1">
                        <TextField height="50" width="100%"  borderRadius="5"  text="E-mailadres" [isEnabled]="false" ></TextField>
                    </StackLayout>
                    <StackLayout class="columnName" padding="0 5" [col]="1"[row]="1">
                        <TextField #email height="50" width="100%"  borderRadius="5"  text="Kevin@ManCity.uk" [isEnabled]="false" ></TextField>
                    </StackLayout>
                    <StackLayout class="columnName" padding="0 5" [col]="0"[row]="2">
                        <TextField height="50" width="100%"  borderRadius="5"  text="New password" [isEnabled]="false" ></TextField>
                    </StackLayout>
                    <StackLayout class="columnValue" padding="0 5" [col]="1"[row]="2">
                        <TextField height="50" width="100%"  secure="true" borderRadius="5"  text="password" [isEnabled]="false" ></TextField>
                    </StackLayout>
                    <StackLayout class="columnName" padding="0 5" [col]="0"[row]="3">
                        <TextField height="50" width="100%"  borderRadius="5"  text="Confirm password" [isEnabled]="false"></TextField>
                    </StackLayout>
                    <StackLayout class="columnValue" padding="0 5" [col]="1"[row]="3">
                        <TextField height="50" width="100%"  secure="true" borderRadius="5"  text="password" [isEnabled]="false" ></TextField>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <Button text="Save changes" (tap)="editProfile()" class="btn btn-primary m-t-20"></Button>
            <Button text="Go back" (tap)="goBack()" class="btn btn-primary m-t-20"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>
