.logo {
    margin-bottom: 12;
    height: 250;
}

#logoo{
    border-radius: 50%;
    background-color: red;
}

.columnName{
    color: white;
}

.columnValue{
    color: white;

}

.imageCss{
    border-radius: 50%;
    width: 150;
    height: 150;
    margin-top: 5;
    margin-bottom: 5;
}
