<ActionBar title="" color="#f5f5f5" backgroundColor="#455775" flat="true" visibility="collapsed"></ActionBar>
<ScrollView>
    <FlexboxLayout class="page" backgroundColor="#455775">
        <StackLayout class="form" backgroundColor="#455775">
            <GridLayout [rows]="countOfRows" cols="*,*">
                <Label class="header" text="Active sessions" row="0"></Label>
                <Label class="subheader" text="Select a session to start" row="1"></Label>
                <div *ngFor="let item of itemsToLoad; let i = index">
                    <Button [text]='item.name' class="btn btn-primary m-t-20" [row]="i+2" (tap)="startSession(item.name,item.id)"></Button>
                    <Button text="go back" class="btn btn-primary m-t-20" [row]="i+2+1" (tap)="goBack()"></Button>
                </div>
            </GridLayout>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>










