.header{
    color: #fff;
    font-size: 30%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.1;
    padding: 30;
}

.subheader{
    color: #fff;
    font-size: 20%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.1;
}
