.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
#graph {
    height: 1000px

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#Test{
    height: 2000px;
}
#Test2{
    height: 2000px;
}

.view {
    margin-bottom: 12;
    height: 200;
    font-weight: bold;
}

@keyframes opacity {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes translate {
    from { transform: translate(0, 0); }
    to { transform: translate(100, 100); }
}

.card{
    height: 40;
    width: 40;
    border-radius: 90 90 90 90;
    horizontal-align: left;
    margin-left: 200px;
}

.name{
    color: "#d3d3d3"
}

.header{
    color: #fff;
    font-size: 30%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.1;
    padding: 30;
}

