<ActionBar title="" color="#f5f5f5" backgroundColor="#455775" flat="true" visibility="collapsed"></ActionBar>
<ScrollView>
<FlexboxLayout class="page" backgroundColor="#455775">
     <StackLayout class="form" backgroundColor="#455775">
         <GridLayout [rows]="countOfRows" cols="*,*">
           <div *ngFor="let item of itemsToLoad; let i = index">
               <Label color="#f5f5f5" [text]="item.cardText" [row]=i></Label>
               <Label [id]="item.labelId" class="card" [row]=i [backgroundColor]="item.color"></Label>
               <Button [text]="item.cardText" class="btn btn-primary m-t-20" [row]="(i + itemsToLoad.length)" [backgroundColor]="item.color" (tap)="click(i)"></Button>
               <Button text="STOP WITH SESSION" class="btn btn-primary m-t-20" [row]="(i + itemsToLoad.length) + 1" (tap)="stopSession()"></Button>
           </div>
         </GridLayout>
      </StackLayout>
  </FlexboxLayout>
  </ScrollView>
